{% extends 'base.html' %}

{% block title %}Não autenticado (401){% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="display-1 fw-bold text-secondary">401</h1>
    <h2 class="mb-4 text-secondary">Você precisa estar logado</h2>
    <p class="mb-4 text-secondary">Faça login para acessar esta página ou volte à página inicial.</p>
    <div class="d-flex gap-3">
        <a href="{{ url_for('auth.login') }}" class="btn btn-secondary rounded-pill" style="background-color:#99E6DA">
            Ir para login
        </a>
        <a href="{{ url_for('main.homepage') }}" class="btn btn-outline-secondary rounded-pill">
            Página inicial
        </a>
    </div>
</div>
{% endblock %}
