{% extends 'base_ceo.html' %}
{%block content%}

<div class="table container-fluid">
    <form method="post">
        {{ form.csrf_token }}

        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.permissions.label(class="form-label") }}

            {% for subfield in form.permissions %}
                <div class="form-check">    
                    {{ subfield(class="btn btnchekck")}}
                    {{subfield.label(class="form-label")}}
                </div>
            {% endfor %}
        </div>

        {{ form.btnSubmit(class="btn btn-success mt-3") }}
    </form>
</div>


{%endblock%}