{% extends 'base.html' %}

{% block title %}Registro de Secrets{% endblock %}

{% block content %}

    <div style="max-width: 380px; width: 100%;">
    
        <h2 class="fw-bold mb-4 text-secondary" style="text-shadow:1px 1px 3px rgba(0,0,0,0.2);">
        Cadastre as<br>informações de Secrets
        </h2>
    
        <form method="post">
            {{ form.hidden_tag() }}
    
            {{ form.clientId.label }}
            {{ form.clientId(class="form-control rounded-pill border-secondary-subtle mt-2", placeholder="API Key") }}
    
            {{ form.clientSecret.label }}
            {{ form.clientSecret(class="form-control rounded-pill border-secondary-subtle mt-2", placeholder="API Secret") }}
            
            {{ form.btnSubmit(class="btn btn-secondary w-100 rounded-pill mt-4", style="background-color:#a7e4df") }}
    
        </form>
    </div>
    {% endblock %}