{% extends 'base_auth.html' %}

{% block title %}Nova Senha{% endblock %}

{% block content %}

<style>
    .password-container {
        position: relative;
    }
    .password-container .fa-eye, 
    .password-container .fa-eye-slash {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(10%);
        cursor: pointer;
        color: #6c757d;
    }
    
    /* Botão Verde Água com texto BRANCO */
    .custom-btn-teal {
        background-color: #a7e4df !important;
        border: none;
        color: white !important; /* Texto Branco */
        font-weight: bold;
        text-shadow: 0px 1px 2px rgba(0,0,0,0.15);
        transition: all 0.3s;
    }
    .custom-btn-teal:hover {
        background-color: #8bdacc !important;
        color: white !important;
        transform: translateY(-2px);
    }
</style>

<div style="max-width: 380px; width: 100%;">
    
    <h2 class="fw-bold mb-4 text-secondary" style="text-shadow:1px 1px 3px rgba(0,0,0,0.2);">
        Criar Nova<br>Senha
    </h2>

    <form method="post" class="w-100">
        {{ form.csrf_token() }}

        <div class="password-container mt-3">
            {{ form.password.label(class="form-label text-secondary fw-bold") }}
            
            {{ form.password(
                class="form-control rounded-pill border-secondary-subtle", 
                placeholder="Nova senha", 
                id="password") 
            }}
            <i class="fa-solid fa-eye" id="togglePassword" style="top: 38px;"></i>
        </div>

        <div class="password-container mt-3">
            {{ form.password_confirm.label(class="form-label text-secondary fw-bold") }}
            
            {{ form.password_confirm(
                class="form-control rounded-pill border-secondary-subtle", 
                placeholder="Confirme a nova senha",
                id="password_confirm") 
            }}
             <i class="fa-solid fa-eye" id="togglePasswordConfirm" style="top: 38px;"></i>
        </div>

        {{ form.btnSubmit(class="btn w-100 rounded-pill mt-4 custom-btn-teal") }}

    </form>
</div>

<script>
    function setupToggle(toggleId, inputId) {
        const toggle = document.getElementById(toggleId);
        const input = document.getElementById(inputId);
        if (toggle && input) {
            toggle.addEventListener('click', function () {
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
                this.classList.toggle('fa-eye-slash');
            });
        }
    }
    setupToggle('togglePassword', 'password');
    setupToggle('togglePasswordConfirm', 'password_confirm');
</script>

{% endblock %}